@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Routing

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Tu diario Online</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Resumen
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="entries">
                <span aria-hidden="true"><i class="bi bi-book"></i></span> Entradas
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="emotions">
                <span aria-hidden="true"><i class="bi bi-emoji-grin-fill"></i></span> Emociones
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="games">
                <span aria-hidden="true"><i class="bi bi-joystick"></i></span> Juegos 
            </NavLink>
        </div>
    </nav>
</div>

