@page "/emotions"
<PageTitle>Emociones</PageTitle>
@using diarioOnline.Models
@rendermode InteractiveServer

<h2  class="sentimiento-hoy">¿Cómo te sientes hoy?</h2>

@if (!showEmotionButtons)
{
    <h4>@(new MarkupString(selectedPhrase))</h4>
    <br />
	<button class="reset-emotion" @onclick="Reset">Elegir otra<strong> emoción</strong></button>
}
else
{
    <div class="emotion-buttons">
        <button class="emotionButton" @onclick='() => SelectEmotion("Neutral")'>
           <span>😊</span> <br />Neutral
        </button>
        <button class="emotionButton" @onclick='() => SelectEmotion("Feliz")'>
			<span>😃</span><br /> Feliz
        </button>
        <button class="emotionButton" @onclick='() => SelectEmotion("Triste")'>
			<span>😢</span><br /> Triste
        </button>
        <button class="emotionButton"  @onclick='() => SelectEmotion("Enojado")'>
			<span>😡</span><br />Enojado
        </button>
        <button class="emotionButton"  @onclick='() => SelectEmotion("Ansioso")'>
			<span>😰</span> <br />Ansioso
        </button>
    </div>
}

@code {
    private Emotions emotions = new Emotions();
    private string selectedPhrase = "Selecciona una emoción para ver una frase.";
    private Random random = new Random();
    private bool showEmotionButtons = true; 

    private void SelectEmotion(string emotion)
    {
        var selectedList = emotions.GetPhrasesByEmotion(emotion);

        if (selectedList.Count > 0)
        {
            int index = random.Next(selectedList.Count);
            selectedPhrase = $"<em>{selectedList[index]}</em>"; 
            showEmotionButtons = false;
        }
     
    }

    private void Reset()
    {
        selectedPhrase = "Selecciona una emoción para ver una frase.";
        showEmotionButtons = true; // Muestra los botones nuevamente
    }
}